{% load static %}
<!DOCTYPE html>
<html lang="en">


<script src="{% static "codemirror/lib/codemirror.js" %}"></script>
<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "wannado_highlighting.css" %}">
<script src="{% static "codemirror/addon/mode/simple.js" %}"></script>
<script src="{% static "codemirror/mode/wannado/wannado.js" %}"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Write your wannados below :D!

<form action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.text_area.errors }}
    {{ form.text_area }}
    <input type="submit" value="Save" />
</form>

<script>
  var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: false
  });
</script>

</body>
</html>